@{
    ViewBag.Title = "Home Page";
}


<!-- about -->
<section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="row">
            <div class="col-lg-6 about-imgs-txt my-3">
                <img src="~/images/ab1.jpg" alt="news image" class="img-fluid">
            </div>
            <div class="col-lg-6 about-two-grids my-3">
                <h5 class="top-title mb-lg-4 mb-3"> Online Fruit Vendor</h5>
                <h2 class="mb-md-3 mb-sm-3 mb-3">Fruits Stored and Fresh from Farms</h2>
                <div class="about-para-txt">
                    <p>
                        Own Farms means fruits at Low Cost directly without any Commision Bases and Top Quality Fruits
                    </p>
                </div>
                <h6 class="my-lg-5 my-md-4 my-3">fresh from Yield farm</h6>
                <div class="about-para-txt">
                    <p>Send Your Querry At Our Contact Us Form for Ordering </p>
                </div>
                <div class="outs_more-buttn mt-md-4 mt-3">
                    <a href="#blog">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//about -->
<!--service -->66
-9
<!--//matter -->
<!-- gallery  -->
<section class="gallery py-lg-4 py-md-3 py-sm-3 py-3" id="gallery">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h5 class="top-title mb-lg-4 mb-3 text-center">Fresh Fruits</h5>
        
        <div class="row gallery-info no-gutters">
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid ">
                <div class="gallery-grids">
                    <a href="#gal1">
                        <img src="~/images/g1.jpg" alt="news image" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid ">
                <div class="gallery-grids">
                    <a href="#gal2">
                        <img src="~/images/g6.jpg" alt="news image" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid">
                <div class="gallery-grids">
                    <a href="#gal3">
                        <img src="~/images/g3.jpg" alt="news image" class="img-fluid">
                    </a>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid">
                <div class="gallery-grids">
                    <a href="#gal4">
                        <img src="~/images/g4.jpg" alt="news image" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid ">
                <div class="gallery-grids">
                    <a href="#gal5">
                        <img src="~/images/g2.jpg" alt="news image" class="img-fluid">
                    </a>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid ">
                <div class="gallery-grids">
                    <a href="#gal6">
                        <img src="~/images/g5.jpg" alt="news image" class="img-fluid">
                    </a>
                </div>
            </div>
            <!-- popup-->
            <div id="gal1" class="popup-effect">
                <div class="popup">
                    <img src="~/images/g1.jpg" alt="Popup Image" class="img-fluid" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal2" class="popup-effect">
                <div class="popup">
                    <img src="~/images/g6.jpg" alt="Popup Image" class="img-fluid" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal3" class="popup-effect">
                <div class="popup">
                    <img src="~/images/g3.jpg" alt="Popup Image" class="img-fluid" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal4" class="popup-effect">
                <div class="popup">
                    <img src="~/images/g4.jpg" alt="Popup Image" class="img-fluid" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal5" class="popup-effect">
                <div class="popup">
                    <img src="~/images/g2.jpg" alt="Popup Image" class="img-fluid" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal6" class="popup-effect">
                <div class="popup">
                    <img src="~/images/g5.jpg" alt="Popup Image" class="img-fluid" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
        </div>
    </div>
</section>
<!--//gallery  -->
